//General parameters for nextflow execution:
process.executor = "slurm"
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:

//Directory for final outputs:
params.run_name = "Vernot35_Flores10"
params.chroms = "autosomes"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/FullDepthBatches"
params.output_dir = "${params.output_prefix}/${params.run_name}_${params.chroms}_phasing"
//Glob for the per-individual BAMs:
params.bam_glob = "${params.output_dir}/BAMs/*_MD_IR_recal.bam"
//Regex for parsing the sample ID out of the BAM filename:
params.bam_regex = ~/^(.+)_MD_IR_recal$/
//Glob for the joint VCFs:
params.vcf_glob = "${params.output_dir}/VCFs/*.vcf.gz"
//Regex for parsing the chromosome out of the VCF filename:
params.vcf_regex = ~/^.+_chr(\p{Alnum}+)$/
//dbSNP build:
params.dbsnp_build = 153
//Prefix for final phased VCFs:
params.final_prefix = "${params.run_name}_${params.chroms}_dbSNP${params.dbsnp_build}"

//PRNG seed for ShapeIt4 reproducibility:
params.prng_seed = '42'

//Option for using default (faster) settings for ShapeIt4 rather than the more accurate but
// slower ones set by the pipeline default:
//params.faster_shapeit = 1

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_${params.chroms}_phasing_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      params.ref_prefix = "/gpfs/gibbs/pi/tucci/pfr8/refs"
      params.ref = "${params.ref_prefix}/1kGP/hs37d5/hs37d5.fa"
      //List of chromosomes to use
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
      params.nuclear_chroms = "${params.autosomes},X,Y"
      params.major_chroms = "${params.nuclear_chroms},MT"
      //Genetic map for ShapeIt4:
      params.genmap_glob = "/gpfs/gibbs/pi/tucci/pfr8/genetic_maps/shapeit_b37/chr*.b37.gmap.gz"
      //Regex for parsing the chromosome out of the genetic map filename:
      params.genmap_regex = ~/^chr(\w+)$/
   }

   farnam {
      params.mod_bcftools = "bcftools/1.10.2-119-g42942b4"
      params.mod_htslib = "htslib/1.10.2-131-g0456cec"
      params.mod_miniconda = "miniconda/4.9.2"
      process.queue = 'pi_tucci,general'
   }

   ruddle {
      params.mod_bcftools = "bcftools/8a744dd"
      params.mod_htslib = "htslib/78441c9"
      params.mod_miniconda = "miniconda/4.9.2"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Filter for PASS, unphase, and split by sample
//Max 1 retry
//Adds 4 GiB per retry
//Timeout to 48h on retry
params.filter_split_cpus = 1
params.filter_split_mem = 8
params.filter_split_timeout = '24h'
//Whatshap per-sample per-chromosome phasing
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 24h on retry
params.whatshap_cpus = 1
params.whatshap_mem = 4
params.whatshap_timeout = '1h'
//Re-merge per-sample per-chromosome VCFs into per-chromosome VCFs
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 48h on retry
params.merge_cpus = 1
params.merge_mem = 1
params.merge_timeout = '24h'
//ShapeIt4 population phasing
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 72h on retry
params.shapeit_cpus = 1
params.shapeit_mem = 64
params.shapeit_timeout = '24h'
//Whatshap phasing stats
//Max 1 retry
//Adds 4 GiB per retry
//Timeout to 48h on retry
params.phasing_stats_cpus = 1
params.phasing_stats_mem = 4
params.phasing_stats_timeout = '24h'
